.projectsContainer
{
    min-height: calc(100vh - 30px);
    margin-top: 30px;
}

.project
{
    width: 100%;
    margin-top: 100px;
}

.secondaryProjectsContainer
{
    padding-top: 50px;
    width: 100%;
}

.secondaryProjectsContainer .title
{
    text-align: center;
    padding-bottom: 50px;
}

.secondaryProjects
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}