.aboutContainer
{
    min-height: calc(100vh - 30px);
    margin-top: 30px;
    width: 100%;
    overflow-y: hidden;
}

.presentationContainer
{
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profilePicture
{
    height: auto;
    width: 15%;
    border-radius: 50%;
    border: 5px solid white;
}

.presentationTextContainer
{
    width: 60%;
    font-size: 21px;
}

.skillsContainer
{
    padding-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillsContainer h1
{
    width: 85px;
    text-align: center;
    border-bottom: 2px solid white;
}

.skillsTableContainer
{
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}