*
{
  overflow-x: hidden;
}

.appContainer
{
  width: 100%;
  background-color: #0E1D3D;
}

.homeContainer
{
  width: 65%;
  margin: 0 auto;
}

.background
{
  background-color: #0E1D3D;
}

.regularText
{
  color: #ffffff;
}

.coloredText
{
  color: #76F7BF;
}

.secondaryText
{
  color: gray;
}

.pageTitle
{
  color: #1962F5;
}

.italic
{
  font-style: italic;
}

.normal
{
  font-style: normal;
}

.light
{
  font-weight: lighter;
}

.bold
{
  font-weight: bold;
}


@media screen and (max-width: 1000px)
{
  .homeContainer
  {
    width: 80%;
  }
}